@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css);
body {
  font-family: Roboto,San Francisco,Helvetica,sans-serif;
}

img {
  width: 100%;
}

.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  -webkit-box-shadow: 6px 9px 15px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 9px 15px -5px rgba(0, 0, 0, 0.75);
  text-align: center;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-button-next {
  width: 1rem;
  color: #fff;
  opacity: 0.6;
}

.swiper-button-prev {
  width: 1rem;
  color: #fff;
  opacity: 0.6;
}

.control {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.control .popup {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  position: absolute;
  z-index: 8;
  padding-top: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.control .popup .popup-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #344453;
  border-radius: 0.5rem;
  -webkit-box-shadow: 6px 9px 15px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 9px 15px -5px rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
}

.control .popup .popup-block .confirm-word {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.5rem 0;
}

.control .popup .popup-block .button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.2rem 0;
}

.control .popup .popup-block .cancel {
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, #12191f), to(#080f16));
  background: linear-gradient(90deg, #12191f 75%, #080f16 100%);
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.2rem;
}

.control .popup .popup-block .deal {
  background: -webkit-gradient(linear, left top, right top, color-stop(75%, #008bd8), to(#0085ff));
  background: linear-gradient(90deg, #008bd8 75%, #0085ff 100%);
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.2rem;
}

.control .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  height: 1.2rem;
  padding: 0.5rem;
  -webkit-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
  z-index: 8;
  -webkit-transition: ease .2s;
  transition: ease .2s;
}

.control .title.close {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.control .title.close .icon {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #283541;
  border-radius: 50%;
  right: .25rem;
  bottom: .25rem;
}

.control .title .icon {
  position: absolute;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem;
}

.control .title .icon img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .3s;
  transition: .3s;
}

.control .title .icon.rotate img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.control .overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.control .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.control .content .title-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #283541;
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 1px solid #0095ff;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  height: 1.2rem;
  -webkit-box-shadow: 0px -5px 10px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -5px 10px -2px rgba(0, 0, 0, 0.75);
  padding: 0.5rem 0;
}

.control .content .chips-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #12191f;
}

.control .content .chips-bar .chips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2rem;
  margin: 0.3rem 0;
}

.control .content .chips-bar li {
  width: 1rem;
  height: 1rem;
  background-color: #000;
  border: 1px solid #707070;
  margin-left: 5px;
  list-style: none;
  float: left;
  text-align: center;
}

.control .content .chips-bar .demo {
  display: none;
}

.control .content .chips-bar .demo2 {
  display: none;
}

.control .content .team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #122331;
  padding: 0.5rem 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.control .content .team .chips-float {
  position: absolute;
  top: -.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3rem;
  display: none;
}

.control .content .team .chips-float2 {
  position: absolute;
  top: -.25rem;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 3rem;
  display: none;
}

.control .content .team .teamA-btn {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #008bd8), to(#0061bb));
  background: linear-gradient(90deg, #008bd8 40%, #0061bb 100%);
}

.control .content .team .teamB-btn {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, darkred), to(#c80000));
  background: linear-gradient(90deg, darkred 10%, #c80000 100%);
}

.control .content .team .teamA-word {
  color: #00a4ff;
}

.control .content .team .teamB-word {
  color: #c60000;
}

.control .content .bar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.2rem 1rem;
}

.control .content .bar-block .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 1rem;
  background-color: #283541;
  margin-bottom: 0.3rem;
  padding: 0.2rem 0.3rem;
}

.control .content .bar-block .bar .barA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 0.5rem;
  background: #00a4ff;
  border-radius: 1rem 0 0 1rem;
}

.control .content .bar-block .bar .barB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 0.5rem;
  background: #c60000;
  border-radius: 0 1rem 1rem 0;
}

.control .content .bar-block .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.control .toolbar {
  background-color: #0a0e12;
  height: 100%;
  width: 100%;
}

.control .toolbar .tool-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.3rem 8rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.control .toolbar .tool-block .active {
  border: 1px solid #008bd8;
}

.control .toolbar .tool-block li {
  list-style: none;
  background-color: #12191f;
  padding: 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #0a0e12;
}

.control .toolbar .tool-block li .tool {
  width: 58px;
  height: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.2rem;
  background-color: #06080a;
  margin: 0 auto;
  color: #ffd941;
  position: relative;
}

.control .toolbar .tool-block li span {
  left: 1px;
  position: absolute;
  z-index: 2;
  font-size: 0.5rem;
}

.control .toolbar .tool-block li img {
  width: 88%;
  float: right;
}

.control .toolbar .tool-block li .amount {
  color: #fff;
  text-align: center;
  padding-top: 0.3rem;
}
/*# sourceMappingURL=style.css.map */